{% load static %}
<form action="{% url 'search' %}">
    <div class="input-group rg-search">
        <label class="sr-only" for="input-search">Término a buscar</label>
        <input id="input-search" class="ui-widget form-control" name="q" type="text" value="{{ query }}">
        <div class="input-group-append pl-2">
            <button class="btn btn-outline-secondary" type="submit" id="button-search"><i
                    class="{{ fa_class }} fa-search fa-2x" aria-hidden="true"></i></button>
            <span id="button-lexicon-change" class="btn btn-outline-secondary ml-2 es-ar button-lexicon-change"></span>
            <button type="button" id="button-topic" class="button-topic btn btn-outline-secondary ml-2 {{ fa_class }} fa-ellipsis-v fa-2x d-none"></button>
            <input id="selected_lex" name="l" type="hidden" value="{{selected_lexicon}}" />
        </div>
    </div>
</form>
