{% load static %}
<form action="{% url 'search' %}">
    <div class="input-group rg-search">
        <label class="sr-only" for="input-search">Término a buscar</label>
        <input id="input-search" class="ui-widget form-control" name="q" type="text" value="{{ query }}">
        <div class="input-group-append pl-2">
            <button class="btn btn-outline-secondary" type="submit" id="button-search"><i
                    class="{{ fa_class }} fa-search fa-2x" aria-hidden="true"></i></button>
            <span class="btn btn-outline-secondary ml-2 es-ar button-dictionary-change"
                  data-dictionary="to-ar-es">
            </span>
        </div>
    </div>
    {% include "linguatec_lexicon_frontend/components/search-lexicon-selector.html" %}
</form>
