{% extends "linguatec_lexicon_frontend/base.html" %}
{% load static %}


{% block bodyclass %}home{% endblock %}
{% block mainclass %}container{% endblock %}
{% block content %}

<div class="home-content row justify-content-center">
    <div class="col-12 col-sm-10 col-md col-lg-4 justify-content-end" id="aragonarioLogo">
        <img class="d-md-none" alt="Aragonario: Diccionario castellano - aragonés"
            src="{% static 'aragonario-darkgray-dos-sentidos.svg' %}" width="330" height="139" />
    </div>

    <div class="col-sm-10 col-md-7 col-lg-5" id="homeSearch">
        {% include "linguatec_lexicon_frontend/components/search-tools.html" %}

        <div id="topic-menu" class="d-flex flex-wrap">
          <div id="topic-toggler-wrapper" class="topic-item-wrapper">
            <div id="topic-toggler" class="topic-item">
              <i class="{{ fa_class }} fa-ellipsis-v fa-3x"></i>
              <div class="topic-title">Áreas <br/>temáticas</div>
            </div>
          </div>
          <div class="topic-item-wrapper">
            <div class="topic-item {% if 'es-ar' == selected_lexicon or 'ar-es' == selected_lexicon %}active{% endif %}" data-lexicode="es-ar">
              <i class="{{ fa_class }} fa-arrow-left fa-3x"></i>
              <div class="topic-title">Diccionario general</div>
            </div>
          </div>
          <div class="topic-item-wrapper">
            <div class="topic-item {% if 'es-ar@fauna' == selected_lexicon %}active{% endif %}" data-lexicode="es-ar@fauna">
              <i class="{{ fa_class }} fa-paw fa-3x"></i>
              <div class="topic-title">Faunístico</div>
            </div>
          </div>
          <div class="topic-item-wrapper">
            <div class="topic-item {% if 'es-ar@flora' == selected_lexicon %}active{% endif %}" data-lexicode="es-ar@flora">
              <i class="{{ fa_class }} fa-flower fa-3x"></i>
              <div class="topic-title">Botánico</div>
            </div>
          </div>
          <div class="topic-item-wrapper">
            <div class="topic-item {% if 'es-ar@law' == selected_lexicon %}active{% endif %}" data-lexicode="es-ar@law">
              <i class="{{ fa_class }} fa-balance-scale fa-3x"></i>
              <div class="topic-title">Jurídico</div>
            </div>
          </div>
        </div>
        <div class="d-none d-md-block navbar-light">
            <div class="navbar-nav">
                {% include "linguatec_lexicon_frontend/components/external-links.html" with navbar=True %}
                {% include "linguatec_lexicon_frontend/components/navbar-menu.html" %}
            </div>
        </div>
    </div>
</div>

<div class="row text-center align-items-end external-links mt-5 d-md-none">
    {% include "linguatec_lexicon_frontend/components/external-links.html" %}
</div>
{% if first_load %}
<div id="loading_overlay">
    {% include "linguatec_lexicon_frontend/splash-screen.html" %}
</div>
{% endif %}
{% endblock %}


{% block extrascript %}
{% if first_load %}
<script>
    $(document).ready(function () {
        setInterval(function() {
            $("#loading_overlay").hide(400);
        }, 2000);
    });
</script>
{% endif %}
{% endblock %}

{% block footernav %}{% endblock %}
